/* _________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER header[role="banner"]
9.NAVIGATION nav[role="navigation"]
10.CONTENT
11.MAIN div[role="main"]
12.COMPLIMENTARY div[role="complementary"]
13.CONTENTINFO footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC
16.TEMPLATE SPECIFICS
17.MODERNIZR
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

abbr[title] {
	border-bottom-width: 0;
	cursor: help;
}

/* 1.ROOT */

html {
	background: #ededed;
	overflow-y: scroll;
}

body {
	background-color: transparent;
	color: #333;
	font: 100%/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0 auto;
	padding: 0.75em 0; /* 12 / 16 = 0.75 */
	width: 94%;
}

/* 2.HEADINGS */

h1, h2, h3 { font-weight: bold; }

h1 {
	color: rgb(27, 73, 111);
	font-size: 1.75em; /* 28 / 16 = 1.75; for 240px UA */
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

h1 .da { margin: 0 -4px 0 -3px; }

h1 .la { margin: 0 0 0 1px; }

h2 {
	color: #053E6A;
	font-size: 1.125em; /* 18 / 16 = 1.125 */
	font-variant: small-caps;
	line-height: 1.2;
	margin: 0 0 0.5ex;
	text-transform: uppercase;
}

h3 {
	background-color: #F9F9FE;
	border-bottom: 2px solid #FFF9EF;
	border-radius: 0.4ex 0.4ex 0 0;
	font-size: 1.125em; /* 18 / 16 = 1.125 */
	line-height: 1.5;
	margin: 0;
	padding: 0 0.8ex;
}

h3.extant {
	font-style: italic;
	margin-top: 0;
}

/* 3.TYPOGRAPHY */

p, ol, ul, dl, address {
	font-size: 1em; /* 16 / 16 = 1 */
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em -18px;
	padding-left: 24px;
}

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

li ul, li ol {
	font-size: 1em; /* 16 / 16 = 1 */
	margin: 0;
}

dl, dd { margin-bottom: 1.5em; }

dt { font-weight: normal; }

blockquote {
	border-left: 1px solid rgb(200,200,200);
	font-style: italic;
	margin: 0 0 1.5em -24px;
	padding-left: 24px;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

b, strong { font-weight: bold; }

i, em { font-style: italic; }

sup, sub {
	line-height: 0;
	position: relative;
	font-size: 75%;
}

sup { top: -.5em; }

sub { bottom: -.25em; }

address { font-style: normal; }

pre {
	margin-bottom: 1.5em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre, code {
	font: .875em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}

small { font-size: 1em; /* 16 / 16 = 1 */ }

/* 4.LINKS */

a, a:visited {
	border-bottom: 1px solid rgba(23, 119, 175, 0.1);
	color: rgb(23, 119, 175);
	font-weight: bold;
	outline: none;
	text-decoration: none;
}

a:link { color: #1B496C; }

a:visited { color: #1B496F; }

a:hover {
	background-color: #EAEEEC;
	background-color: rgba(51, 137, 207, 0.1);
	border-bottom: 1px solid rgba(52, 158, 219, 0.4);
	-moz-border-radius: 0.5ex 0.5ex 0.5ex 0.5ex;
	-webkit-border-radius: 0.5ex 0.5ex 0.5ex 0.5ex;
	border-radius: 0.5ex 0.5ex 0.5ex 0.5ex;
	margin: 0 -0.4ex;
	padding: 0 0.4ex;
	text-decoration: none;
	*text-decoration: underline;
	-moz-transition: background-color 0.1s;
	-o-transition: background-color 0.1s;
	-webkit-transition: background-color 0.1s;
}

a:active, a:focus {
	color: rgb(0,0,0);
	outline: none;
}

h3 a:link, h3 a:visited {
	border-bottom-color: rgba(132, 214, 110, 0.2);
	color: #006100;
}

h3 a:hover, h3 a:active, h3 a:focus { border-color: rgba(132, 214, 110, 0.6); }

/*
h3 a:after {
	color: rgba(52,158,219,0.4);
	content: "➠";
	margin-left: 0.5ex;
}
*/

/* 5.FIGURES & IMAGES */

figure { margin-bottom: 1.5em; }

figure img, figure object, figure embed {
	margin-bottom: .75em;
	max-width: 100%;
}

figcaption {
	display: block;
	font-weight: normal;
}

/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */

section {
	-moz-border-radius: 0.7ex 0.7ex 0.7ex 0.7ex;
	-webkit-border-radius: 0.7ex 0.7ex 0.7ex 0.7ex;
	border-radius: 0.7ex 0.7ex 0.7ex 0.7ex;
}

section, footer {
	margin: 1em auto;
	max-width: 90em;
	padding: 1ex;
}

p {
	font-size: 90%;
	line-height: 1.5;
}

#hello {
	background-color: #FFF9EF;
	position: relative;
}

#hello p {
	font-size: 100%;
	margin-bottom: 0;
}

#portfolio { background-color: #FFF3DF; }

#portfolio article {
	background-color: #FFF;
	border: 2px solid rgb(255, 237, 207); /* rgba(255, 237, 207, 0.4); */
	-moz-border-radius: 0.7ex 0.7ex 0.7ex 0.7ex;
	-webkit-border-radius: 0.7ex 0.7ex 0.7ex 0.7ex;
	border-radius: 0.7ex 0.7ex 0.7ex 0.7ex;
	margin: 1.5em 0;
}

article p { margin: 1ex; }

aside { display: none; }

/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */

footer {
	background-color: #EEE;
	-moz-border-radius: 1ex 1ex 1ex 1ex;
	-webkit-border-radius: 1ex 1ex 1ex 1ex;
	border-radius: 1ex 1ex 1ex 1ex;
	overflow: hidden;
	padding: 1ex 0;
	text-align: center;
}

/* 14.GLOBAL OBJECTS */

.clearfix { zoom: 1; }

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after { clear: both; }

/* 15.VENDOR-SPECIFIC */

body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:link { -webkit-tap-highlight-color: rgba(52,158,219,0.4); }

::-webkit-selection {
	background: rgb(23,119,175);
	color: rgb(250,250,250);
	text-shadow: none;
}

::-moz-selection {
	background: rgb(23,119,175);
	color: rgb(250,250,250);
	text-shadow: none;
}

::selection {
	background: rgb(23,119,175);
	color: rgb(250,250,250);
	text-shadow: none;
}

::-webkit-input-placeholder {
	font-size: .875em;
	line-height: 1.4;
	padding: 10px;
}

input:-moz-placeholder {
	font-size: .875em;
	line-height: 1.4;
	padding: 10px;
}

.ie7 img, .iem7 img { -ms-interpolation-mode: bicubic; }

div, input, textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/* Non-semantic helper classes */

/* Image replacement */
.ir {
	background-repeat: no-repeat;
	direction: ltr;
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}

/* Hide for screenreaders and visual browsers */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide visually */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide but maintain layout */
.invisible { visibility: hidden; }

/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */
/* MEDIA QUERIES */

/*Print __________________________________________________________________________________________________________ */
@media print {

* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

a, a:visited {
	color: #444 !important;
	text-decoration: underline;
}

a[href]:after { content: " (" attr(href) ")"; }

abbr[title]:after { content: " (" attr(title) ")"; }

a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead { display: table-header-group; }

tr, img { page-break-inside: avoid; }

@page { margin: .5cm; }

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

h2, h3 { page-break-after: avoid; }

.noprint { display: none !important; }
}

/*320px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 320px) {

/* 2.HEADINGS */

h1 { font-size: 2em; /* 32 / 16 = 2 */ }

h2 { font-size: 1.75em; /* 28 / 16 = 1.75 */ }

/* 13.CONTENTINFO */

address {
	float: left;
	margin: 0;
}

.a2 { float: right; }

}

/*480px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 480px) {

/* 1.ROOT */
/* 2.HEADINGS */

h1:before, h1:after {
	color: rgba(52, 158, 219, 0.4);
	content: "☆";
	font-size: 75%;
	margin-right: 0.5ex;
	vertical-align: 0.2ex;
}

h1:after { margin: 0 0 0 0.5ex; }

/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS */
/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */

}/*/mediaquery*/


/*768px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 768px) {
	
h1 { font-size: 3em; /* 48 / 16 = 3 */ }

h2 {
	font-size: 2em;
	font-variant: normal;
	text-transform: none;
}

}/*/mediaquery*/

/*992px __________________________________________________________________________________________________________ */
@media only screen and (min-width: 992px) {

#portfolio article {
	position: relative;
	padding-bottom: 1.4em;
}

#portfolio aside {
	background-color: rgb(255, 237, 207);
	border: 1px solid #FFE;
	border-width: 1px 0 0 1px;
	-moz-border-radius: 1ex 0 0 0;
	-webkit-border-radius: 1ex 0 0 0;
	border-radius: 1ex 0 0 0;
	bottom: 0;
	color: #44443F;
	display: block;
	font-size: 75%;
	position: absolute;
	right: 0;
}

* html #portfolio aside { position: static; }

#portfolio aside ul, #portfolio aside li {
	list-style: none;
	margin: 0;
}

#portfolio aside li {
	color: #54544B;
	float: left;
	margin: 0 0.5ex;
	padding: 0.5ex 0.5em 0;
}

* html #portfolio aside li { float: none; }

#portfolio article:hover li { color: #434340; }

}/*/mediaquery*/

/*1382px _________________________________________________________________________________________________________ */
/* linked from HTML because it contains @font-face rules which aren't treated well inside queries */

/*2x _____________________________________________________________________________________________________________ */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
}/*/mediaquery*/

/*
Sources:
http://meyerweb.com/eric/tools/css/reset
http://people.opera.com/patrickl/experiments/keyboard/test
http://gist.github.com/413930
http://pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap
http://sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars
http://tjkdesign.com/ez-css/css/base.css
http://viget.com/inspire/styling-the-button-element-in-internet-explorer
http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing
http://html5doctor.com/html-5-reset-stylesheet/
http://praegnanz.de/weblog/htmlcssjs-kickstart/
http://camendesign.com/design/
http://yui.yahooapis.com/2.8.1/build/base/base.css
http://webaim.org/techniques/css/invisiblecontent/
http://drupal.org/node/897638
*/
